:root {
--primary: #0074E4;
--secondary: #74DBEF;
--dark-gray: #3B3B3B;
--light-gray: #B1B1B1;
--success: #32BEA6;
--warning: #FF6262;
}
body {
    background: #F4F9FF;
}
body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}
input[type="email"], input[type="text"], input[type="phone"] {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 6px 7px;
    width: 100%;
}
input[type="email"]:focus, input[type="text"]:focus, input[type="phone"]:focus {
    border: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
}
label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    color: var(--dark-gray);
}
i.mand {
    font-style: normal;
    color: var(--warning);
    margin-left: 2px;
}
.btn {
    font-size: 14px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 50px;
}
.btn-secondary {
    border-color: var(--primary);
    background: transparent;
    color: var(--primary);
}
.btn-primary {
    box-shadow: 0 5px 8px rgba(4, 127, 231, 0.50);
}