<ul>
    <li><a [routerLink]="['/shipment']" queryParamsHandling="preserve"   routerLinkActive="active"><i class="icon-shape"></i> Shipment</a></li>
    <li><a [routerLink]="['/parties']" queryParamsHandling="preserve"   routerLinkActive="active"><i class="icon-shape"></i> Parties</a></li>
    <li><a [routerLink]="['/commodity']"  queryParamsHandling="preserve"  routerLinkActive="active"><i class="icon-shape"></i> Commodity</a></li>
    <li><a [routerLink]="['/transportation']" queryParamsHandling="preserve"  routerLinkActive="active"><i class="icon-shape"></i> Transportation</a></li>
    <!-- <span class="numb-error">4</span> -->
</ul>