.page-header {
  height: 164px;
  background: var(--primary);
  padding: 30px;
  margin: 0 0 56px;

  h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 14px;
    color: var(--white);
  }

  h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
  }
}

.history {
    float: right;
    display: flex;    
    h3 {
      color: var(--white);
      font-size: 18px;
      width: 65px;
      margin: 0;
      margin-top: 12px;
    }
    ul {
      list-style: none;
      padding: 0 0 16px;
      margin: 0;
      display: flex;
      max-width: 70vw;
      overflow-x: auto;
      
    li {
      display: inline-block;
      min-width: 146px;
      a {
        font-size: 10px;
        margin: 0 0 0 10px;
        display: inline-block;
        border-radius: 8px;
        padding: 6px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        background: var(--white);
        span {
          display: block;
          margin-bottom: 4px;
          i {
            float: left;
            margin-right: 6px;
            font-size: 12px;
            line-height: 12px;
          }
          img {
            width: 10px;
          }
          &:last-child {
            margin: 0;
          }
        }

        &:hover {
          text-decoration: none;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          transition: all .2s ease-in-out;
          transform: scale(1.02);
        }

        &.approved {
          background: var(--success);
          color: var(--white);
        }

        &.error {
          color: var(--white);
          background: var(--warning);
        }
        &.canceled {
          color: var(--white);
          background: var(--orange);
        }
      }
    }
  }


}


ul.steps {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 15px 20px;
  list-style: none;
  background: var(--white);
  display: flex;
  position: relative;
  overflow: hidden;
  width: 97%;
  bottom: 0;
  position: absolute;
  top: 131px;
  height: 57px;
  justify-content: space-between;
  li {
      color: var(--light-gray);
      font-size: 16px;
      display: flex;
      align-items: center;
      position: relative;
      
      &:before {
          content: "\63";
          font-family: "untitled-font-4";
          position: absolute;
          left: -231px;
          top: 0px;
          font-size: 20px;
      }
      i {
          background: var(--light-gray);
          color: #fff;
          height: 14px;
          float: left;
          width: 14px;
          line-height: 17px;
          text-align: center;
          margin: 4px 6px 0 0;
          font-size: 8px;
          border-radius: 100%;
      }
      a {
          cursor: pointer;
          color: var(--light-gray);
          overflow: hidden;
          &.active {
              color: var(--primary);
              i {
                  background: var(--primary);
              }
          }
      }
      &.error {
          a {
              color: var(--warning);
              i {
                  background: var(--warning);
              }
          }
          .numb-error {
              background: var(--warning);
              color: var(--white);
              border-radius: 8px;
              padding: 4px 10px;
              font-size: 10px;
              margin-left: 15px;
              line-height: 10px;
          }
      }
  }
}
.wait-msg{
  color: yellow;
  font-weight: 400;
  font-size: 19px;
}
