<div class="page-header">
  <div class="history" *ngIf="transactions && transactions.length > 0">
    <h3>History</h3>
    <ul>
      <li *ngFor="let item of transactions">
        <a [class.approved]="item.status == 'SUCCESS'" [class.canceled]="item.status == 'FAIL'" (click)="openPrintView(modelcontent, item)">
          <span><i class="icon-user"></i> {{aes.submittedUser?aes.submittedUser.displayName:aes.pic.displayName}}</span>
          <span><i class="icon-small-calendar"></i> 31 Oct 2018, 6:15PM</span>
        </a>
      </li>
      <!-- <li>
        <a  class="canceled" (click)="openPrintView(modelcontent)">
          <span><i class="icon-user"></i>{{aes.submittedUser?aes.submittedUser.displayName:aes.pic.displayName}}</span>
          <span><i class="icon-small-calendar"></i> 31 Oct 2018, 6:15PM</span>
        </a>
      </li>
      <li>
        <a  class="approved" (click)="openPrintView(modelcontent)">
          <span><i class="icon-user"></i> {{aes.submittedUser?aes.submittedUser.displayName:aes.pic.displayName}}</span>
          <span><i class="icon-small-calendar"></i>  31 Oct 2018, 6:15PM</span>
        </a>
      </li>
      <li>
        <a class="canceled" (click)="openPrintView(modelcontent)">
          <span><i class="icon-user"></i> {{aes.submittedUser?aes.submittedUser.displayName:aes.pic.displayName}} </span>
          <span><i class="icon-small-calendar"></i> 31 Oct 2018, 6:15PM</span>
        </a>
      </li> -->
    </ul>
  </div>
  <h2>AES - {{aes.shipmentHeader.shipmentReferenceNumber}}</h2>
  <h4 *ngIf="aes.draftDate">Draft last saved : {{aes.draftDate}}</h4>

  <ul class="steps">
    <li *ngFor="let item of menulist">
      <a [class.active]="item.name == activeMenu" (click)="changeActive(item)"><i class="icon-shape"></i> {{item.name}}</a>
    </li>
    <!-- <li><a><i class="icon-shape"></i> Parties</a></li>
    <li><a><i class="icon-shape"></i> Commodity</a></li>
    <li><a><i class="icon-shape"></i> Transportation</a></li> -->
    <!-- <span class="numb-error">4</span> -->
  </ul>
</div>

<ng-template #modelcontent let-modal>
  <aes-print-view (closeClick)="modal.close()"></aes-print-view>
</ng-template>