.page-header {
    height: 164px;
    background: var(--primary);
    padding: 30px;
    margin: 0 0 56px;
    h2 {
        font-size: 26px;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 14px;
        color: var(--white);
    }
    h4 {
        color: var(--white);
        font-size: 20px;
        font-weight: 300;
    }
}