<div class="page-header">
  <div class="history">
    <h3>AES History</h3>
    <ul>
      <li>
        <a href="#0" class="approved">
          <span><i class="icon-small-calendar"></i> John Wick</span>
          <span><i class="icon-user"></i> 20 Nov 2016, 12:00PM</span>
        </a>
      </li>
      <li>
        <a href="#0" class="canceled">
            <span><i class="icon-small-calendar"></i> John Wick</span>
            <span><i class="icon-user"></i> 20 Nov 2016, 12:00PM</span>
        </a>
      </li>
      <li>
          <a href="#0" class="approved">
            <span><i class="icon-small-calendar"></i> John Wick</span>
            <span><i class="icon-user"></i> 20 Nov 2016, 12:00PM</span>
          </a>
        </li>
      <li>
        <a href="#0" class="canceled">
            <span><i class="icon-small-calendar"></i> John Wick</span>
            <span><i class="icon-user"></i> 20 Nov 2016, 12:00PM</span>
        </a>
      </li>
     
    </ul>
  </div>
  <h2>Amend Export Filling (Filter ID222)</h2>
  <h4>Draft last saved: 08/02/2018</h4>
  <steps-area></steps-area>
</div>
