<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{headerText}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="content-box" *ngIf="aes.submissionStatus=='GETS REJECTED'">
        <table class="table table-striped table-bordered">
            <tr>                
                <th>Error Code</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let error of errorList">
                <td>{{error.errorCode}}</td>
                <td>{{error.errorDescription}}</td>
            </tr>
        </table>
    </div>
    <div class="content-box" *ngIf="aes.submissionStatus=='CUSTOMS REJECTED'">
            <table class="table table-striped table-bordered">
                <tr>                
                    <th>Response Code</th>
                    <th>Severity Indicator</th>
                    <th>Narrative Text</th>
                    <th>Reason Code</th>
                    <th>Final Destination Indicator</th>
                </tr>
                <tr *ngFor="let response of customsResponseList">
                    <td>{{response.responseCode}}</td>
                    <td>{{response.severityIndicator}}</td>
                    <td>{{response.narrativeText}}</td>
                    <td>{{response.reasonCode}}</td>
                    <td>{{response.finalDestinationIndicator}}</td>
                </tr>
            </table>
        </div>
</div>