<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Error Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="content-box">
        <table class="table table-striped table-bordered">
            <tr>                
                <th>Error Code</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let error of errorList">
                <td>{{error.errorCode}}</td>
                <td>{{error.errorDescription}}</td>
            </tr>
        </table>
    </div>
</div>