<form #partiesForm="ngForm">
  <div class="content-box" *ngIf="shipmentParty">
    <h2 class="form-heading">Ultimate Consignee</h2>
    <ul class="form-list mb-4">
      <li>
        <p>Sold En Route
          <i class="mand">*</i>
        </p>
        <input type="radio" id="route-yes" value="Y" name="route" [ngModel]="ultimateConsignee.ToBeSoldenRouteIndicator">
        <label for="route-yes">Yes</label>
        <input type="radio" id="route-no" value="N" name="route" [ngModel]="ultimateConsignee.ToBeSoldenRouteIndicator">
        <label for="route-no">No</label>
      </li>
    </ul>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [ngModel]="ultimateConsignee.partyIdType"
          id="ucPartyIdType" name="ucPartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.partyIdType==null && partiesForm.controls.partyIdType==''">Please
          fill this in GF booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>Consignee Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyType" bindLabel="name" bindValue="id" [disabled]="true" [ngModel]="ultimateConsignee.partyType"
          id="ucPartyType" name="ucPartyType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="!partiesForm.controls.ucPartyType">Please fill this in GF booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" [ngModel]="ultimateConsignee.partyId" id="ucPartyId" name="ucPartyId">
        <label class="error-label" *ngIf="!partiesForm.controls.ucPartyId">Please fill this in GF booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>Company Name
          <i class="mand">*</i>
        </label>
        <input type="text" required [(ngModel)]="ultimateConsignee.partyName" id="ucPartyName" name="ucPartyName">
        <label class="error-label" *ngIf="partiesForm.controls.ucPartyName?.invalid && (partiesForm.controls.ucPartyName?.touched || submitted)">This
          field is required!!</label>
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>First Name
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactFirstName" name="contactFirstName" id="uccontactFirstName"
          name="uccontactFirstName">
      </div>
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactLastName" name="contactLastName" id="uccontactLastName"
          name="uccontactLastName">
      </div>
      <div class="col-md-3">
        <label>Phone Number
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactPhoneNumber" name="contactPhoneNumber" id="uccontactPhoneNumber"
          name="uccontactPhoneNumber">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [ngModel]="ultimateConsignee.addressLine1" id="ucaddressLine1"
          name="ucaddressLine1">
        <label class="error-label" *ngIf="!partiesForm.controls.ucaddressLine1">Please fill this in booking screen!!</label>
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.addressLine2" id="ucaddressLine2" name="ucaddressLine2">
      </div>
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [(ngModel)]="ultimateConsignee.countryCode" id="uccountryCode"
          name="uccountryCode">
      </div>
      <div class="col-md-3">
        <label>Postal Code
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="ultimateConsignee.postalCode" id="ucpostalCode" name="ucpostalCode">
      </div>
      <div class="col-md-3">
        <label>City
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [(ngModel)]="ultimateConsignee.city" id="uccity" name="uccity">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="ultimateConsignee.stateCode"
          id="ucstateCode" name="ucstateCode">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="content-box" *ngIf="intermediateConsignee">
    <h2 class="form-heading">Intermediate Consignee</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [(ngModel)]="intermediateConsignee.partyIdType"
          id="icpartyIdType" name="icpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number</label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.partyId" id="icpartyIdType" name="icpartyIdType">
      </div>
      <div class="col-md-3">
        <label>Company Name</label>
        <input type="text" [(ngModel)]="intermediateConsignee.partyName" id="icpartyName" name="icpartyName">
      </div>
      <div class="col-md-3">
        <label>First Name
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactFirstName" id="iccontactFirstName" name="iccontactFirstName">
      </div>
    </div>
    <div class="row mb-4">

      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactLastName" id="iccontactLastName" name="iccontactLastName">
      </div>
      <div class="col-md-3">
        <label>Phone Number
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactPhoneNumber" id="iccontactPhoneNumber" name="iccontactPhoneNumber">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.addressLine1" id="icaddressLine1" name="icaddressLine1">
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.addressLine2" id="icaddressLine2" name="icaddressLine2">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.countryCode" id="iccountryCode" name="iccountryCode">
      </div>
      <div class="col-md-3">
        <label>Import Entry</label>
        <input type="text">
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.postalCode" id="icpostalCode" name="icpostalCode">
      </div>
      <div class="col-md-3">
        <label>City</label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.city" id="iccity" name="iccity">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="intermediateConsignee.stateCode"
          id="icstateCode" name="icstateCode">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="content-box" *ngIf="freightForwarder">
    <h2 class="form-heading">Freight Forwarder</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [(ngModel)]="freightForwarder.partyIdType" id="ffpartyIdType"
          name="ffpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number</label>
        <input type="text" [(ngModel)]="freightForwarder.partyId" id="ffpartyId" name="ffpartyId">
      </div>
      <div class="col-md-3">
        <label>Company Name</label>
        <input type="text" [(ngModel)]="freightForwarder.partyName" id="ffpartyName" name="ffpartyName">
      </div>
      <div class="col-md-3">
        <label>First Name
          <i class="mand">*</i>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactFirstName" id="ffcontactFirstName" name="ffcontactFirstName">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Last Name
          <i class="mand">*</i>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactLastName" id="ffcontactLastName" name="ffcontactLastName">
      </div>
      <div class="col-md-3">
        <label>Phone Number
          <i class="mand">*</i>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactPhoneNumber" id="ffcontactPhoneNumber" name="ffcontactPhoneNumber">
      </div>
      <div class="col-md-3">
        <label>Address Line 1</label>
        <input type="text" [(ngModel)]="freightForwarder.addressLine1" id="ffaddressLine1" name="ffaddressLine1">
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="freightForwarder.addressLine2" id="ffaddressLine2" name="ffaddressLine2">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" [(ngModel)]="freightForwarder.postalCode" id="ffpostalCode" name="ffpostalCode">
      </div>

      <div class="col-md-3">
        <label>City</label>
        <input type="text" [(ngModel)]="freightForwarder.city" id="ffcity" name="ffcity">
      </div>
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="freightForwarder.stateCode"
          id="ffstateCode" name="ffstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content-box">
    <h2>USPPI</h2>
    <div class="row mb-4">

      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" required bindLabel="name" bindValue="id" [(ngModel)]="usppi.partyIdType" id="usppiIdNoType"
          name="usppiIdNoType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNoType?.invalid && (partiesForm.controls.usppiIdNoType?.touched || submitted)">This
          field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
            <i class="mand">*</i>
          </label>
        <input type="text" id="usppiIdNo" required name="usppiIdNo" [(ngModel)]="usppi.IdNumber">
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNo?.invalid && (partiesForm.controls.usppiIdNo?.touched || submitted)">This
          field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Company Name</label>
        <input type="text" id="usppicompanyNo" name="usppicompanyNo" [(ngModel)]="usppi.companyNo">
      </div>
      <div class="col-md-3">
        <label>IRS Number</label>
        <input type="text" id="usppiIrsNumber" name="usppiIrsNumber" [(ngModel)]="usppi.IrsNumber">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>First Name</label>
        <input type="text" id="usppifirstName" name="usppifirstName" [(ngModel)]="usppi.FirstName">
      </div>
      <div class="col-md-3">
        <label>Last Name</label>
        <input type="text" id="usppiLastName" name="usppiLastName" [(ngModel)]="usppi.LastName">
      </div>
      <div class="col-md-3">
        <label>Phone Number</label>
        <input type="text" id="usppiPhNo" name="usppiPhNo" [(ngModel)]="usppi.PhoneNumber">
      </div>
      <div class="col-md-3">
        <label>Address Line 1</label>
        <input type="text" id="usppiAddline1" name="usppiAddline1" [(ngModel)]="usppi.addressLine1">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Address Line 2</label>
        <input type="text" id="usppiAddline2" name="usppiAddline2" [(ngModel)]="usppi.addressLine2">
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" id="usppipostalCode" name="usppipostalCode" [(ngModel)]="usppi.postalCode">
      </div>
      <div class="col-md-3">
        <label>City</label>
        <input type="text" id="usppicity" name="usppicity" [(ngModel)]="usppi.city">
      </div>
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="name" bindValue="code" id="originState" name="originState" [(ngModel)]="usppi.state">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
</form>