<form #partiesForm="ngForm">
  <div class="content-box" *ngIf="shipmentParty">
    <h2 class="form-heading">Ultimate Consignee</h2>
    <ul class="form-list mb-4">
      <li>
        <p [class.invalidradio]="partiesForm.controls.route?.errors?.required && submitted">Sold En Route  <i class="mand">*</i>
        </p>
        <input type="radio" id="route-yes" value="Y" name="route" [ngModel]="ultimateConsignee.toBeSoldenRouteIndicator">
        <label for="route-yes">Yes</label>
        <input type="radio" id="route-no" value="N" name="route" [ngModel]="ultimateConsignee.toBeSoldenRouteIndicator">
        <label for="route-no">No</label>
      </li>
    </ul>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [ngModel]="ultimateConsignee.partyIdType"
          id="ucPartyIdType" name="ucPartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>Consignee Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="ultimateConsigneeType" required bindLabel="name" bindValue="id" [(ngModel)]="ultimateConsignee.ultimateConsigneeType"
          id="ucPartyType" name="ucPartyType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.ucPartyType?.errors?.required && (partiesForm.controls.ucPartyType?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 11" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.partyId" id="ucPartyId" name="ucPartyId" maxlength="11" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Company Name
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and symbols are allowed. Maxlength is 30" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" required [(ngModel)]="ultimateConsignee.partyName" id="ucPartyName" name="ucPartyName" maxlength="30"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.ucPartyName?.errors?.required && (partiesForm.controls.ucPartyName?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>First Name
          <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 13" data-balloon-pos="right">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactFirstName" name="contactFirstName" id="uccontactFirstName" name="uccontactFirstName"
          maxlength="13" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactLastName" name="contactLastName" id="uccontactLastName" name="uccontactLastName"
          maxlength="20" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
          <button data-balloon="Characters (Aa-Zz) and Numerals (0-9) are allowed. Maxlength is 13." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactPhoneNumber" name="contactPhoneNumber" id="uccontactPhoneNumber"
          name="uccontactPhoneNumber" maxlength="13" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" required [(ngModel)]="ultimateConsignee.addressLine1" id="ucaddressLine1" name="ucaddressLine1" maxlength="32"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.addressLine2" id="ucaddressLine2" name="ucaddressLine2" maxlength="32"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" [disabled]="true" required bindLabel="name" bindValue="code"
          [(ngModel)]="ultimateConsignee.countryCode" id="uccountryCode" name="uccountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>

      </div>
      <div class="col-md-3">
        <label>Postal Code
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 9." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="ultimateConsignee.postalCode" id="ucpostalCode" name="ucpostalCode" maxlength="9"
          pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>City
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [(ngModel)]="ultimateConsignee.city" id="uccity" name="uccity" maxlength="25"
          pattern="[\sa-zA-Z]+">
        <label class="error-label" *ngIf="partiesForm.controls.uccity?.errors?.required && (partiesForm.controls.uccity?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="ultimateConsignee.stateCode" id="ucstateCode"
          name="ucstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <!-- Intermeditae Consignee -->
  <div class="content-box" *ngIf="intermediateConsignee">
    <h2 class="form-heading">Intermediate Consignee</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [(ngModel)]="intermediateConsignee.partyIdType"
          id="icpartyIdType" name="icpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 11" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.partyId" id="icpartyId" name="icpartyId" maxlength="11" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Company Name
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and symbols are allowed. Maxlength is 30" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.partyName" required id="icpartyName" name="icpartyName" maxlength="30"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.icpartyName?.errors?.required && (partiesForm.controls.icpartyName?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>First Name
          <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 13" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactFirstName" id="iccontactFirstName" name="iccontactFirstName"
          maxlength="13" pattern="[\sa-zA-Z]+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactLastName" id="iccontactLastName" name="iccontactLastName" maxlength="20"
          pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
          <button data-balloon="Characters (Aa-Zz) and Numerals (0-9) are allowed. Maxlength is 13." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactPhoneNumber" id="iccontactPhoneNumber" name="iccontactPhoneNumber"
          maxlength="13" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" required [(ngModel)]="intermediateConsignee.addressLine1" id="icaddressLine1" name="icaddressLine1" maxlength="32"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.icaddressLine1?.errors?.required && (partiesForm.controls.icaddressLine1?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.addressLine2" id="icaddressLine2" name="icaddressLine2" maxlength="32"
          pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" required [disabled]="true" bindLabel="name" bindValue="code"
          [(ngModel)]="intermediateConsignee.countryCode" id="iccountryCode" name="iccountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.iccountryCode?.errors?.required && (partiesForm.controls.iccountryCode?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Postal Code
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 9." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.postalCode" id="icpostalCode" name="icpostalCode"
          maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>City
          <i class="mand">*</i>
        </label>
        <input type="text" required [disabled]="true" [(ngModel)]="intermediateConsignee.city" id="iccity" name="iccity" maxlength="25"
          pattern="[\sa-zA-Z]+">
        <label class="error-label" *ngIf="partiesForm.controls.iccity?.errors?.required && (partiesForm.controls.iccitys?.touched || submitted)">This field is required!!</label>
      </div>

      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="intermediateConsignee.stateCode" id="icstateCode"
          name="icstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content-box" *ngIf="!intermediateConsignee">
    <h2 class="form-heading">Intermediate Consignee</h2>
    <div class="row mb-4">
      <label class="warning-message">Warning : This submission doesn't have intermediate Consignee. Kindly add the same in GACFreight if required.</label>
    </div>
  </div>


  <div class="content-box" *ngIf="freightForwarder">
    <h2 class="form-heading">Freight Forwarder</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" required bindLabel="name" bindValue="id" [(ngModel)]="freightForwarder.partyIdType" id="ffpartyIdType"
          name="ffpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.ffpartyIdType?.errors?.required && (partiesForm.controls.ffpartyIdType?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 11" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.partyId" required id="ffpartyId" name="ffpartyId" maxlength="11" pattern="[\sa-zA-Z0-9]+">
        <label class="error-label" *ngIf="partiesForm.controls.ffpartyId?.errors?.required && (partiesForm.controls.ffpartyId?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Company Name
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and symbols are allowed. Maxlength is 30" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" required [(ngModel)]="freightForwarder.partyName" id="ffpartyName" name="ffpartyName" maxlength="30" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.ffpartyName?.errors?.required && (partiesForm.controls.ffpartyName?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>First Name
          <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 13" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactFirstName" id="ffcontactFirstName" name="ffcontactFirstName" maxlength="13"
          pattern="[\sa-zA-Z]+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactLastName" id="ffcontactLastName" name="ffcontactLastName" maxlength="20"
          pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz) and Numerals (0-9) are allowed. Maxlength is 13." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" required [(ngModel)]="freightForwarder.contactPhoneNumber" id="ffcontactPhoneNumber" name="ffcontactPhoneNumber"
          maxlength="13" pattern="[a-zA-Z0-9]+">
          <label class="error-label" *ngIf="partiesForm.controls.ffcontactPhoneNumber?.errors?.required && (partiesForm.controls.ffcontactPhoneNumber?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" required [(ngModel)]="freightForwarder.addressLine1" id="ffaddressLine1" name="ffaddressLine1" maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.ffaddressLine1?.errors?.required && (partiesForm.controls.ffaddressLine1?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="freightForwarder.addressLine2" id="ffaddressLine2" name="ffaddressLine2" maxlength="32">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" required bindLabel="name" bindValue="code" [(ngModel)]="freightForwarder.countryCode"
          id="ffcountryCode" name="ffcountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.ffcountryCode?.errors?.required && (partiesForm.controls.ffcountryCode?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Postal Code
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 9." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.postalCode" id="ffpostalCode" name="ffpostalCode" maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>

      <div class="col-md-3">
        <label>City <i class="mand">*</i></label>
        <input type="text" required [(ngModel)]="freightForwarder.city" id="ffcity" name="ffcity" maxlength="25" pattern="[\sa-zA-Z]+">
        <label class="error-label" *ngIf="partiesForm.controls.ffcity?.errors?.required && (partiesForm.controls.ffcity?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" maxlength="2" bindLabel="displayName" bindValue="code" [(ngModel)]="freightForwarder.stateCode"
          id="ffstateCode" name="ffstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content-box">
    <h2>USPPI</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" required bindLabel="name" bindValue="id" [(ngModel)]="usppi.partyIdType" id="usppiIdNoType"
          name="usppiIdNoType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNoType?.errors?.required && (partiesForm.controls.usppiIdNoType?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 11" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" id="usppiIdNo" required name="usppiIdNo" [(ngModel)]="usppi.partyId" maxlength="11" pattern="[\sa-zA-Z0-9]+">
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNo?.errors?.required && (partiesForm.controls.usppiIdNo?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Company Name <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and symbols are allowed. Maxlength is 30" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" id="usppicompanyNo" name="usppicompanyNo" required [(ngModel)]="usppi.partyName" maxlength="30" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.usppicompanyNo?.errors?.required && (partiesForm.controls.usppicompanyNo?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>IRS Number</label>
        <input type="text" id="usppiIrsNumber" name="usppiIrsNumber" [(ngModel)]="usppi.usppiirsNumber" maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>IRS ID Type</label>
        <ng-select [items]="usppiPartyIdTypeList" [required]="usppi.partyIdType=='E' || usppi.partyIdType=='D'" bindLabel="name"
          bindValue="id" [(ngModel)]="usppi.usppiirsidType" id="usppiirsidType" name="usppiirsidType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppiirsidType?.errors?.required && (partiesForm.controls.usppiirsidType?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>First Name
          <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 13" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" id="usppifirstName" name="usppifirstName" [(ngModel)]="usppi.contactFirstName" pattern="[\sa-zA-Z]+" maxlength="13">
      </div>
      <div class="col-md-3">
        <label>Last Name <i class="mand">*</i> <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 20" data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button></label>
        <input type="text" required id="usppiLastName" name="usppiLastName" [(ngModel)]="usppi.contactLastName" pattern="[\sa-zA-Z]+" maxlength="20">
        <label class="error-label" *ngIf="partiesForm.controls.usppiLastName?.errors?.required && (partiesForm.controls.usppiLastName?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Phone Number<i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz) and Numerals (0-9) are allowed. Maxlength is 13." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" id="usppiPhNo" name="usppiPhNo" required [(ngModel)]="usppi.contactPhoneNumber" pattern="[a-zA-Z0-9]+" maxlength="13">
        <label class="error-label" *ngIf="partiesForm.controls.usppiPhNo?.errors?.required && (partiesForm.controls.usppiPhNo?.touched || submitted)">This field is required!!</label>
      </div>

    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Address Line 1  <i class="mand">*</i> </label>
        <input type="text" id="usppiAddline1" name="usppiAddline1" required [(ngModel)]="usppi.addressLine1" maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.usppiAddline1?.errors?.required && (partiesForm.controls.usppiAddline1?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Address Line 2</label>
        <input type="text" id="usppiAddline2" name="usppiAddline2" [(ngModel)]="usppi.addressLine2" maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
      <div class="col-md-3">
        <label>Country <i class="mand">*</i></label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" required bindLabel="name" bindValue="code" [(ngModel)]="usppi.countryCode"
          id="usppicountryCode" name="usppicountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppicountryCode?.errors?.required && (partiesForm.controls.usppicountryCode?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Postal Code <i class="mand">*</i>
          <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed. Maxlength is 9." data-balloon-pos="up">
            <img src="../../assets/icons/info.svg">
          </button>
        </label>
        <input type="text" id="usppipostalCode" name="usppipostalCode" required  [(ngModel)]="usppi.postalCode" pattern="[\sa-zA-Z0-9]+" maxlength="9">
        <label class="error-label" *ngIf="partiesForm.controls.usppipostalCode?.errors?.required && (partiesForm.controls.usppipostalCode?.touched || submitted)">This field is required!!</label>
      </div>

    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>City <i class="mand">*</i> <button data-balloon="Characters (Aa-Zz) and whitespaces are allowed. Maxlength is 25" data-balloon-pos="right">
            <img src="../../assets/icons/info.svg">
          </button></label>
        <input type="text" required id="usppicity" name="usppicity" [(ngModel)]="usppi.city" maxlength="25" pattern="[\sa-zA-Z]+">
        <label class="error-label" *ngIf="partiesForm.controls.usppicity?.errors?.required && (partiesForm.controls.usppicity?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>State <i class="mand">*</i></label>
        <ng-select [items]="states" required bindLabel="name" bindValue="code" id="usppioriginState" name="usppioriginState" [(ngModel)]="usppi.stateCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppioriginState?.errors?.required && (partiesForm.controls.usppioriginState?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
  </div>
</form>