<form #partiesForm="ngForm">
  <div class="content-box" *ngIf="shipmentParty">
    <h2 class="form-heading">Ultimate Consignee</h2>
    <ul class="form-list mb-4">
      <li>
        <p>Sold En Route
          <i class="mand">*</i>
        </p>
        <input type="radio" id="route-yes" value="Y" name="route" [ngModel]="ultimateConsignee.ToBeSoldenRouteIndicator">
        <label for="route-yes">Yes</label>
        <input type="radio" id="route-no" value="N" name="route" [ngModel]="ultimateConsignee.ToBeSoldenRouteIndicator">
        <label for="route-no">No</label>
      </li>
    </ul>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [ngModel]="ultimateConsignee.partyIdType"
          id="ucPartyIdType" name="ucPartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>Consignee Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="ultimateConsigneeType" bindLabel="name" bindValue="id" [disabled]="true" [ngModel]="ultimateConsignee.ultimateConsigneeType"
          id="ucPartyType" name="ucPartyType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <i class="mand">*</i>
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.partyId" id="ucPartyId" name="ucPartyId" maxlength="11" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Company Name
          <i class="mand">*</i>
        </label>
        <input type="text" required [(ngModel)]="ultimateConsignee.partyName" id="ucPartyName" name="ucPartyName" maxlength="30" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="partiesForm.controls.ucPartyName?.errors?.required && (partiesForm.controls.ucPartyName?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>First Name
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactFirstName" name="contactFirstName" id="uccontactFirstName" name="uccontactFirstName"
          maxlength="13" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactLastName" name="contactLastName" id="uccontactLastName" name="uccontactLastName"
          maxlength="20" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.contactPhoneNumber" name="contactPhoneNumber" id="uccontactPhoneNumber"
          name="uccontactPhoneNumber" maxlength="13" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [ngModel]="ultimateConsignee.addressLine1" id="ucaddressLine1" name="ucaddressLine1"
          maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
    </div>
    <div class="row mb-4" *ngIf="ultimateConsignee">
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="ultimateConsignee.addressLine2" id="ucaddressLine2" name="ucaddressLine2" maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" [disabled]="true" required bindLabel="name" bindValue="code"
          [(ngModel)]="ultimateConsignee.countryCode" id="uccountryCode" name="uccountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
      
      </div>
      <div class="col-md-3">
        <label>Postal Code
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="ultimateConsignee.postalCode" id="ucpostalCode" name="ucpostalCode" maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>City
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" required [(ngModel)]="ultimateConsignee.city" id="uccity" name="uccity" maxlength="25" pattern="[\sa-zA-Z]+">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="ultimateConsignee.stateCode" id="ucstateCode"
          name="ucstateCode">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="content-box" *ngIf="intermediateConsignee">
    <h2 class="form-heading">Intermediate Consignee</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [disabled]="true" [(ngModel)]="intermediateConsignee.partyIdType"
          id="icpartyIdType" name="icpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number</label>
        <input type="text"  [(ngModel)]="intermediateConsignee.partyId" id="icpartyId" name="icpartyId" maxlength="11"
          pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Company Name</label>
        <input type="text" [(ngModel)]="intermediateConsignee.partyName" id="icpartyName" name="icpartyName" maxlength="30" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
      <div class="col-md-3">
        <label>First Name
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactFirstName" id="iccontactFirstName" name="iccontactFirstName"
          maxlength="13" pattern="[\sa-zA-Z]+">
      </div>
    </div>
    <div class="row mb-4">

      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactLastName" id="iccontactLastName" name="iccontactLastName" maxlength="20"
          pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.contactPhoneNumber" id="iccontactPhoneNumber" name="iccontactPhoneNumber"
          maxlength="13" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1
          <i class="mand">*</i>
        </label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.addressLine1" id="icaddressLine1" name="icaddressLine1"
          maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="intermediateConsignee.addressLine2" id="icaddressLine2" name="icaddressLine2" maxlength="32" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" [disabled]="true" required bindLabel="name" bindValue="code"
          [(ngModel)]="intermediateConsignee.countryCode" id="iccountryCode" name="iccountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>        
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.postalCode" id="icpostalCode" name="icpostalCode"
          maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>City</label>
        <input type="text" [disabled]="true" [(ngModel)]="intermediateConsignee.city" id="iccity" name="iccity" maxlength="25" pattern="[\sa-zA-Z]+">
      </div>

      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="intermediateConsignee.stateCode" id="icstateCode"
          name="icstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content-box" *ngIf="freightForwarder">
    <h2 class="form-heading">Freight Forwarder</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" bindLabel="name" bindValue="id" [(ngModel)]="freightForwarder.partyIdType" id="ffpartyIdType"
          name="ffpartyIdType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>ID Number</label>
        <input type="text" [(ngModel)]="freightForwarder.partyId" id="ffpartyId" name="ffpartyId" maxlength="11">
      </div>
      <div class="col-md-3">
        <label>Company Name</label>
        <input type="text" [(ngModel)]="freightForwarder.partyName" id="ffpartyName" name="ffpartyName" maxlength="30">
      </div>
      <div class="col-md-3">
        <label>First Name        
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactFirstName" id="ffcontactFirstName" name="ffcontactFirstName" maxlength="13" pattern="[\sa-zA-Z]+">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Last Name
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactLastName" id="ffcontactLastName" name="ffcontactLastName" maxlength="20" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number
          <i class="mand">*</i>
        </label>
        <input type="text" [(ngModel)]="freightForwarder.contactPhoneNumber" id="ffcontactPhoneNumber" name="ffcontactPhoneNumber"
          maxlength="13" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1</label>
        <input type="text" [(ngModel)]="freightForwarder.addressLine1" id="ffaddressLine1" name="ffaddressLine1" maxlength="32">
      </div>
      <div class="col-md-3">
        <label>Address Line 2
        </label>
        <input type="text" [(ngModel)]="freightForwarder.addressLine2" id="ffaddressLine2" name="ffaddressLine2" maxlength="32">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Country
          <i class="mand">*</i>
        </label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" required bindLabel="name" bindValue="code" [(ngModel)]="freightForwarder.countryCode"
          id="ffcountryCode" name="ffcountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.ffcountryCode?.errors?.required && (partiesForm.controls.ffcountryCode?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" [(ngModel)]="freightForwarder.postalCode" id="ffpostalCode" name="ffpostalCode" maxlength="9" pattern="[\sa-zA-Z0-9]+">
      </div>

      <div class="col-md-3">
        <label>City</label>
        <input type="text" [(ngModel)]="freightForwarder.city" id="ffcity" name="ffcity" maxlength="25">
      </div>
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" maxlength="2" bindLabel="displayName" bindValue="code" [(ngModel)]="freightForwarder.stateCode" id="ffstateCode"
          name="ffstateCode">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="content-box">
    <h2>USPPI</h2>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>ID Number Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="partyIdType" required bindLabel="name" bindValue="id" [(ngModel)]="usppi.partyIdType" id="usppiIdNoType"
          name="usppiIdNoType">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNoType?.errors?.required && (partiesForm.controls.usppiIdNoType?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>ID Number
          <i class="mand">*</i>
        </label>
        <input type="text" id="usppiIdNo" required name="usppiIdNo" [(ngModel)]="usppi.partyId" maxlength="11">
        <label class="error-label" *ngIf="partiesForm.controls.usppiIdNo?.errors?.required && (partiesForm.controls.usppiIdNo?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Company Name </label>
        <input type="text" id="usppicompanyNo" name="usppicompanyNo" [(ngModel)]="usppi.partyName">
      </div>
      <div class="col-md-3">
        <label>IRS Number</label>
        <input type="text" id="usppiIrsNumber" name="usppiIrsNumber" [(ngModel)]="usppi.usppiirsNumber">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>First Name</label>
        <input type="text" id="usppifirstName" name="usppifirstName" [(ngModel)]="usppi.contactFirstName" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Last Name</label>
        <input type="text" id="usppiLastName" name="usppiLastName" [(ngModel)]="usppi.contactLastName" pattern="[\sa-zA-Z]+">
      </div>
      <div class="col-md-3">
        <label>Phone Number</label>
        <input type="text" id="usppiPhNo" name="usppiPhNo" [(ngModel)]="usppi.contactPhoneNumber" pattern="[a-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Address Line 1 </label>
        <input type="text" id="usppiAddline1" name="usppiAddline1" [(ngModel)]="usppi.addressLine1">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Address Line 2</label>
        <input type="text" id="usppiAddline2" name="usppiAddline2" [(ngModel)]="usppi.addressLine2">
      </div>
      <div class="col-md-3">
        <label>Country</label>
        <ng-select [items]="countryList" [searchFn]="searchByIdAndName" bindLabel="name" bindValue="code" [(ngModel)]="freightForwarder.countryCode"
          id="ffcountryCode" name="ffcountryCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input type="text" id="usppipostalCode" name="usppipostalCode" [(ngModel)]="usppi.postalCode" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>City</label>
        <input type="text" id="usppicity" name="usppicity" [(ngModel)]="usppi.city">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>State</label>
        <ng-select [items]="states" bindLabel="name" bindValue="code" id="originState" name="originState" [(ngModel)]="usppi.stateCode">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
</form>