<div class="content-box">

  <div class="row mb-4">
    <div class="col-md-3">
      <label>Carrier SCAC/IATA</label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Conveyance Name/Carrier Name</label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Transporation Reference Number</label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <button class="btn btn-secondary float-right mt-4">Add Equipment Line</button>
    </div>
  </div>





</div>

<div class="content-box">


  <div class="row mb-4">
    <table class="table">
      <tr>
        <th>Line No.</th>
        <th>Equipment Number</th>
        <th>Seal Number</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td colspan="12" class="text-center">
          <strong class="nodata-message">No data available in table</strong>
        </td>
      </tr>
    </table>
  </div>





</div>
