<div class="content-box">
  <form #transportForm="ngForm">
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Carrier SCAC/IATA<i class="mand" *ngIf="transportation.modeofTransport!=34">*</i> <button data-balloon="Characters (Aa-Zz), numerals (0-9) and symbols are allowed. Maxlength is 4" data-balloon-pos="right"><img src="../../assets/icons/info.svg"></button></label>
        <input type="text" name="carrierCode" [required]="transportation.modeofTransport!=34" [disabled]="true" [(ngModel)]="transportation.carrierCode" maxlength="4" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="transportForm.controls.carrierCode?.errors?.required && (transportForm.controls.carrierCode?.touched || submitted)">This
            field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Conveyance Name/Carrier Name<i class="mand" *ngIf="transportation.modeofTransport!=34">*</i><button data-balloon="Characters (Aa-Zz), numerals (0-9) and symbols are allowed. Maxlength is 23" data-balloon-pos="down"><img src="../../assets/icons/info.svg"></button></label>
        <input type="text" name="vesselName" [required]="transportation.modeofTransport!=34" [(ngModel)]="transportation.vesselName" maxlength="23" pattern="([\sa-zA-Z0-9\-.' !@#$%^*()_+={}|/:;,>?'~&amp;&lt;])+">
        <label class="error-label" *ngIf="transportForm.controls.vesselName?.errors?.required && (transportForm.controls.vesselName?.touched || submitted)">This
          field is required!!</label>
      </div>  
      <div class="col-md-3">
        <label>Mode of Transport (MOT)<i class="mand">*</i></label>
        <ng-select [items]="modeOfTransport" required bindLabel="name" bindValue="id" [(ngModel)]="transportation.modeofTransport"
          name="modeofTransport">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="transportForm.controls.modeofTransport?.errors?.required && (transportForm.controls.modeofTransport?.touched || submitted)">This
          field is required!!</label>
      </div>
    </div>
  </form>
</div>

<div class="content-box">
  <div class="row mb-4">
    <table class="table table-striped">
      <tr>
        <th>Line No.</th>
        <th>Equipment Number</th>
        <th>Seal Number</th>
        <th>Transportation Reference Number</th>
      </tr>
      <tr *ngFor="let item of transportation.transportationDetails; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.equipmentNumber ? item.equipmentNumber : '-'}}</td>
        <td>{{item.sealNumber ? item.sealNumber : '-'}}</td>
        <td>{{item.transportationReferenceNumber}}</td>
      </tr>
      <tr *ngIf="transportation.transportationDetails.length == 0">
        <td colspan="12" class="text-center">
          <strong class="nodata-message">No data available in table</strong>
        </td>
      </tr>
    </table>
  </div>
</div>