<div class="content-box" *ngFor="let commodity of commodityDetails; let index=index;">
  <h2 class="dropdown-heading">Line {{index+1}} Details</h2>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Export Information Code<i class="mand">*</i></label>
      <input type="text" [(ngModel)]="commodity.commodityLineDetails.exportInformationCode">
    </div>
    <div class="col-md-3">
      <label>Schedule B or HTS Number <i class="label-blue">(Schedule B Search Engine)</i></label>
      <input type="text" [(ngModel)]="commodity.commodityLineDetails.htsNumber">
    </div>
    <div class="col-md-3">
      <label>Commodity Description<i class="mand">*</i></label>
      <input type="text"  [(ngModel)]="commodity.commodityLineDetails.commodityDescription">
    </div>
    <div class="col-md-3">
      <label>Mode of Transport (MOT)<i class="mand">*</i></label>
      <input type="text">
    </div>
    
  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="row  mb-4">
          <div class="col-md-6">
              <label>1st Quantity<i class="mand">*</i></label>
              <input type="text"  [(ngModel)]="commodity.commodityLineDetails.quantity1">
            </div>
        <div class="col-md-6">
          <label>1st UOM<i class="mand">*</i></label>
          <input type="text"  [(ngModel)]="commodity.commodityLineDetails.quantity1Uom">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <label>2nd Quantity<i class="mand">*</i></label>
          <input type="text">
        </div>
        <div class="col-md-6">
          <label>2nd UOM<i class="mand">*</i></label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label>Origin of Goods<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Value of Goods (whole US Dollars)<i class="mand">*</i></label>
      <input type="text" [(ngModel)]="commodity.commodityLineDetails.valueofGoods">
    </div>
    <div class="col-md-3">
      <label>Shipping Weight (whole Kilograms)</label>
      <input type="text" [(ngModel)]="commodity.commodityLineDetails.shippingWeight">
    </div>
  </div>
  <div class="row mb-4">

    <div class="col-md-3">
      <label>ECCN</label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Liscense Type Code/LIcense Exemption Code<i class="mand">*</i></label>
      <input type="text"  [(ngModel)]="commodity.licenseDetails.licenseExemptionCode">
    </div>

  </div>

  <ul class="form-list mb-4">
    <li>
      <p>Does this filling require Participating Government agency data?<i class="mand">*</i> </p>
      <input type="radio" id="tras-yes" name="trans">
      <label for="tras-yes">Yes</label>
      <input type="radio" id="tras-no" name="trans">
      <label for="tras-no">No</label>
    </li>
  </ul>

  <h5 class="secondar-heading">Department of Commerce License - NLR NO LICENSE REQUIRED, OR ONLY CONTROLLED FOR
    ANTI-TERRORISM (AT)</h5>

  <div class="row">
    <div class="col-md-3">
      <label>Exemption Code</label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>License Value</label>
      <input type="text">
    </div>

  </div>
</div>

