<form #shipmentHeaderForm="ngForm">
  <div class="content-box" *ngIf="shipmentHeader">
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Email Response Address(es)
          <i class="mand">*</i>
        </label>
        <input type="text" required id="senderEmail" name="senderEmail" [disabled]="true" [ngModel]="header.senderEmail" maxlength="100">
        <label class="error-label" *ngIf="!shipmentHeaderForm.controls.senderEmail">Please fill this in booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>Shipment Reference Number
          <i class="mand">*</i>
        </label>
        <input type="text" id="shipmentReferenceNumber" pattern="[\sa-zA-Z0-9]+" name="shipmentReferenceNumber" [disabled]="true" [ngModel]="shipmentHeader.shipmentReferenceNumber" maxlength="17">
        <label class="error-label" *ngIf="!shipmentHeaderForm.controls.shipmentReferenceNumber">Please fill this in booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>Filing Option
          <i class="mand">*</i>
        </label>
        <ng-select [items]="filingTypeList" required [disabled]="true" bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.filingTypeIndicator"
          id="filingTypeIndicator" name="filingTypeIndicator">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.filingTypeIndicator?.errors?.required && (shipmentHeaderForm.controls.filingTypeIndicator?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Sea/Air Port Of Export
          <i class="mand">*</i>
        </label>
        <ng-select [items]="portOfExportList" [searchFn]="searchByIdAndName" required bindLabel="name" bindValue="code" [(ngModel)]="shipmentHeader.portofExportation"
          id="portofExportation" name="portofExportation">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.portofExportation?.errors?.required && (shipmentHeaderForm.controls.portofExportation?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
    <div class="row mb-4">

      <div class="col-md-3">
        <label>Port of Unlading<i class="mand">*</i></label>
        <ng-select [items]="portOfUnladingList" required bindLabel="name" bindValue="code" [searchFn]="searchByIdAndName" [(ngModel)]="shipmentHeader.portofUnlading"
          id="portofUnlading" name="portofUnlading">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.portofUnlading?.errors?.required && (shipmentHeaderForm.controls.portofUnlading?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Departure Date
          <i class="mand">*</i>
        </label>
        <input type="text" id="estimatedExportDate" name="estimatedExportDate" disabled [ngModel]="shipmentHeader.estimatedExportDate" maxlength="8">
        <label class="error-label" *ngIf="!shipmentHeaderForm.controls.estimatedExportDate">Please fill this in booking screen!!</label>
      </div>
      <div class="col-md-3">
        <label>Origin State
          <i class="mand">*</i>
        </label>
        <ng-select [items]="states" required bindLabel="displayName" bindValue="code" [(ngModel)]="shipmentHeader.originState"
          id="originState" name="originState">         
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.originState?.errors?.required && (shipmentHeaderForm.controls.originState?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Country of Destination
          <i class="mand">*</i>
        </label>
        <ng-select [items]="country" required bindLabel="name" bindValue="code" [searchFn]="searchByIdAndName" [(ngModel)]="shipmentHeader.ultimateDestinationCountry"
          id="ultimateDestCountry" name="ultimateDestCountry">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.code}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.ultimateDestCountry?.errors?.required && (shipmentHeaderForm.controls.ultimateDestCountry?.touched || submitted)">This field is required!!</label>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <label>Inbond Type
          <i class="mand">*</i>
        </label>
        <ng-select [items]="inboundList" required bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.inbondCode" id="inbondCode"
          name="inbondCode" required>
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{item.id}} - {{item.name}}
          </ng-template>
        </ng-select>
        <label class="error-label" *ngIf="shipmentHeaderForm.controls.inbondCode?.errors?.required && (shipmentHeaderForm.controls.inbondCode?.touched || submitted)">This field is required!!</label>
      </div>
      <div class="col-md-3">
        <label>Foreign Trade Zone <button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed." data-balloon-pos="up"><img src="../../assets/icons/info.svg"></button></label>
        <input type="text" id="ftz" name="ftz"  [(ngModel)]="shipmentHeader.foreignTradeZone" maxlength="7" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Import Entity<button data-balloon="Characters (Aa-Zz),Numerals (0-9) and whitespaces are allowed." data-balloon-pos="up"><img src="../../assets/icons/info.svg"></button></label>
        <input type="text" id="importEntity" name="importEntity" [(ngModel)]="shipmentHeader.entryNumber" maxlength="15" pattern="[\sa-zA-Z0-9]+">
      </div>
      <div class="col-md-3">
        <label>Original ITN</label>
        <input type="text" id="originalITN" name="originalITN" [(ngModel)]="shipmentHeader.originalItn">
      </div>
    </div>
    <div class="row mb-5">
    </div>
    <ul class="form-list">
      <li>
        <p [class.invalidradio]="shipmentHeaderForm.controls.trans?.errors?.required && submitted">
          Is this a Routed Transaction?   
          <i class="mand">*</i>
        </p>
        <input type="radio" required id="tras-yes" name="trans" value="Y" [(ngModel)]="shipmentHeader.fppiRoutedTransport" >
        <label for="tras-yes">Yes</label>
        <input type="radio" required id="tras-no" name="trans" value="N" [(ngModel)]="shipmentHeader.fppiRoutedTransport">
        <label for="tras-no">No</label>
      </li>
      <li>
        <p [class.invalidradio]="shipmentHeaderForm.controls.consi?.errors?.required && submitted">Are USPPI and Ultimate Consignee companies related?
          <i class="mand">*</i>
        </p >
        <input type="radio" required id="consi-yes" name="consi" value="Y" [(ngModel)]="shipmentHeader.relatedParties">
        <label for="consi-yes">Yes</label>
        <input type="radio" required id="consi-no" name="consi" value="N" [(ngModel)]="shipmentHeader.relatedParties">
        <label for="consi-no">No</label>
      </li>
      <li>
        <p [class.invalidradio]="shipmentHeaderForm.controls.haz?.errors?.required && submitted">Does shipment contain hazardous material?
            <i class="mand">*</i>
        </p>
        <input type="radio" required id="haz-yes" name="haz" value="Y" [(ngModel)]="shipmentHeader.hazmatIndicator">
        <label for="haz-yes">Yes</label>
        <input type="radio" id="haz-no" name="haz" value="N" [(ngModel)]="shipmentHeader.hazmatIndicator">
        <label for="haz-no">No</label>
      </li>
    </ul>
  </div>
</form>