<form #shipmentHeaderForm="ngForm">
<div class="content-box" *ngIf="shipmentHeader">
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Email Response Address(es)<i class="mand" >*</i></label>
      <input type="text" id="senderEmail" name="senderEmail" [disabled]="true" [value]="header.senderEmail">
    </div>
    <div class="col-md-3">
      <label>Shipment Reference Number<i class="mand">*</i></label>
      <input type="text" id="shipmentReferenceNumber" name="shipmentReferenceNumber" [disabled]="true" [value]="shipmentHeader.shipmentReferenceNumber">
    </div>
    <div class="col-md-3">
      <label>Filing Option<i class="mand">*</i></label>
      <ng-select [items]="filingTypeList" bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.filingTypeIndicator" id="filingTypeIndicator" name="filingTypeIndicator">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{item.id}} - {{item.name}}
          </ng-template>
      </ng-select>
    </div>
    <div class="col-md-3">
        <label>Port Of Export<i class="mand">*</i></label>
        <input type="text" id="portofExportation" name="portofExportation" [disabled]="true" [(ngModel)]="shipmentHeader.portofExportation">
      </div>

  </div>
  <div class="row mb-4">
    
    <div class="col-md-3">
      <label>Port of Unlading</label>
      <input type="text" id="portofUnlading" name="portofUnlading" [disabled]="true" [(ngModel)]="shipmentHeader.portofUnlading">
    </div>
    <div class="col-md-3">
      <label>Departure Date<i class="mand">*</i></label>
      <input type="text" id="estimatedExportDate" name="estimatedExportDate" [disabled]="true" [(ngModel)]="shipmentHeader.estimatedExportDate" >
    </div>
    <div class="col-md-3">
      <label>Origin State<i class="mand">*</i></label>
      <ng-select [items]="states" bindLabel="name" bindValue="code" [(ngModel)]="shipmentHeader.originState" id="originState" name="originState">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{item.code}} - {{item.name}}
          </ng-template>
      </ng-select>
    </div>
    <div class="col-md-3">
        <label>Country of Destination <i class="mand">*</i></label>
        <ng-select [items]="country" bindLabel="name" bindValue="code" [(ngModel)]="shipmentHeader.ultimateDestinationCountry" id="ultimateDestCountry" name="ultimateDestCountry">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{item.code}} - {{item.name}}
          </ng-template>
      </ng-select>
      </div>
  </div>
  <div class="row mb-4">
   
    <div class="col-md-3">
      <label>Inbond Type<i class="mand">*</i></label>
      <ng-select [items]="inboundList" bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.inbondCode" id="inbondCode" name="inbondCode" required >
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{item.id}} - {{item.name}}
          </ng-template>
      </ng-select>
    </div>
    <div class="col-md-3">
      <label>Foreign Trade Zone</label>
      <input type="text" id="ftz" name="ftz" [(ngModel)]="shipmentHeader.foreignTradeZone">
    </div>
    <div class="col-md-3">
      <label>Import Entity</label>
      <input type="text" id="importEntity" name="importEntity" [(ngModel)]="shipmentHeader.importEntity" >
    </div>
    <div class="col-md-3">
        <label>Original ITN</label>
        <input type="text" id="originalITN" name="originalITN" [(ngModel)]="shipmentHeader.originalITN">
      </div>  
  </div>
  <div class="row mb-5">
     
  </div>

  <ul class="form-list">
    <li>
      <p>Is this a Routed Transaction?<i class="mand">*</i> </p>
      <input type="radio" id="tras-yes" name="trans" value="Y" [(ngModel)]="shipmentHeader.fppiRoutedTransport" >
      <label for="tras-yes">Yes</label>
      <input type="radio" id="tras-no" name="trans" value="N" [(ngModel)]="shipmentHeader.fppiRoutedTransport">
      <label for="tras-no">No</label>
    </li>
    <li>
      <p>Are USPPI and Ultimate Consignee companies related?<i class="mand">*</i> </p>
      <input type="radio" id="consi-yes" name="consi" value="Y" [(ngModel)]="shipmentHeader.relatedParties">
      <label for="consi-yes">Yes</label>
      <input type="radio" id="consi-no" name="consi" value="N" [(ngModel)]="shipmentHeader.relatedParties">
      <label for="consi-no">No</label>
    </li>
    <li>
      <p>Does shipment contain hazardous material?<i class="mand">*</i> </p>
      <input type="radio" id="haz-yes" name="haz" value="Y" [(ngModel)]="shipmentHeader.hazmatIndicator">
      <label for="haz-yes">Yes</label>
      <input type="radio" id="haz-no" name="haz" value="N" [(ngModel)]="shipmentHeader.hazmatIndicator">
      <label for="haz-no">No</label>
      
    </li>
  </ul>

</div>

</form>
