<div class="content-box" *ngIf="shipmentHeader">
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Email Response Address(es)<i class="mand" >*</i></label>
      <input type="text" [disabled]="true" [value]="header.senderEmail">
    </div>
    <div class="col-md-3">
      <label>Shipment Reference Number<i class="mand">*</i></label>
      <input type="text" [disabled]="true" [value]="shipmentHeader.shipmentReferenceNumber">
    </div>
    <div class="col-md-3">
      <label>Filing Option<i class="mand">*</i></label>
      <ng-select [items]="filingTypeList" bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.filingTypeIndicator">
      </ng-select>
    </div>
    <div class="col-md-3">
      <label>Mode of Transport (MOT)<i class="mand">*</i></label>
      <input type="text" [disabled]="true" [(ngModel)]="shipmentHeader.shipmentReferenceNumber">
    </div>

  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Port Of Export<i class="mand">*</i></label>
      <input type="text" [disabled]="true" [(ngModel)]="shipmentHeader.portofExportation">
    </div>
    <div class="col-md-3">
      <label>Port of Unlading</label>
      <input type="text" [disabled]="true" [(ngModel)]="shipmentHeader.portofUnlading">
    </div>
    <div class="col-md-3">
      <label>Departure Date<i class="mand">*</i></label>
      <input type="text" [disabled]="true" [(ngModel)]="shipmentHeader.estimatedExportDate" >
    </div>
    <div class="col-md-3">
      <label>Origin State<i class="mand">*</i></label>
      <ng-select [items]="states" bindLabel="displayName" bindValue="code" [(ngModel)]="shipmentHeader.originState">
      </ng-select>
    </div>

  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Country of Destination <i class="mand">*</i></label>
      <input type="text" [(ngModel)]="shipmentHeader.ultimateDestinationCountry">
    </div>
    <div class="col-md-3">
      <label>Inbond Type<i class="mand">*</i></label>
      <ng-select [items]="inboundList" bindLabel="name" bindValue="id" [(ngModel)]="shipmentHeader.inbondCode">
      </ng-select>
    </div>
    <div class="col-md-3">
      <label>Foreign Trade Zone</label>
      <input type="text" [(ngModel)]="shipmentHeader.foreignTradeZone">
    </div>
    <div class="col-md-3">
      <label>Import Entity</label>
      <input type="text" >
    </div>

  </div>
  <div class="row mb-5">
    <div class="col-md-3">
      <label>Original ITN</label>
      <input type="text" >
    </div>    
  </div>

  <ul class="form-list">
    <li>
      <p>Is this a Routed Transaction?<i class="mand">*</i> </p>
      <input type="radio" id="tras-yes" name="trans" value="Y" [(ngModel)]="shipmentHeader.fppiRoutedTransport">
      <label for="tras-yes">Yes</label>
      <input type="radio" id="tras-no" name="trans">
      <label for="tras-no">No</label>
    </li>
    <li>
      <p>Are USPPI and Ultimate Consignee companies related?<i class="mand">*</i> </p>
      <input type="radio" id="consi-yes" name="consi" value="Y" [(ngModel)]="shipmentHeader.relatedParties">
      <label for="consi-yes">Yes</label>
      <input type="radio" id="consi-no" name="consi" value="N" [(ngModel)]="shipmentHeader.relatedParties">
      <label for="consi-no">No</label>
    </li>
    <li>
      <p>Does shipment contain hazardous material?<i class="mand">*</i> </p>
      <input type="radio" id="haz-yes" name="haz" value="Y" [(ngModel)]="shipmentHeader.hazmatIndicator">
      <label for="haz-yes">Yes</label>
      <input type="radio" id="haz-no" name="haz" value="N" [(ngModel)]="shipmentHeader.hazmatIndicator">
      <label for="haz-no">No</label>
      
    </li>
  </ul>

</div>
<div class="content-box">
  <h2>USPPI</h2>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>ID Number Type<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>ID Number<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Company Number<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>IRS Number<i class="mand">*</i></label>
      <input type="text">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>First Name<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Last Name<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Phone Number<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Address Line 1<i class="mand">*</i></label>
      <input type="text">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <label>Address Line 2<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>Postal Code<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>City<i class="mand">*</i></label>
      <input type="text">
    </div>
    <div class="col-md-3">
      <label>State<i class="mand">*</i></label>
      <select></select>
    </div>
  </div>
</div>
