<div class="page" *ngIf="aes">
  <div class="header-flex">
    <page-header (activemenuchanged)="onactivemenuchange($event)"></page-header>
  </div>
  <div class="content">
    <shipment-form [hidden]="activeMenu != 'Shipment'" [shipmentHeader]="aes.shipmentHeader" [header]="aes.header"></shipment-form>
    <parties-form [hidden]="activeMenu != 'Parties'" [shipmentParty]="aes.shipmentParty"></parties-form>
    <commodity-form [hidden]="activeMenu != 'Commodity'" [commodityDetails]="aes.commodityDetails"></commodity-form>
    <transportation-form [hidden]="activeMenu != 'Transportation'" [transportation]="aes.transportation"></transportation-form>
  </div>
  <div class="button-flex">
    <div class="buttons-box">
      <button class="btn btn-secondary" (click)="openPrintView(modelcontent)">Print View</button>
      <button class="btn btn-secondary" (click)="onSaveDraft()">Save Draft</button>
      <button class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
    </div>
  </div>
</div>



<div class="loader" *ngIf="!aes">
<div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<ng-template #modelcontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">AES Print View</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <aes-print-view [aes]="aes"></aes-print-view>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Print</button>
  </div>
</ng-template>