
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    overflow-y: auto;
}
.button-flex {
    box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.04);
    background: var(--white);
    position: relative;
}
.buttons-box {
    margin: 0 15px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px;
    button {
        margin-left: 10px;
    }
}
.form-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        font-weight: 500;
        font-size: 12px;
        color: var(--dark-gray);
        p {
            display: inline-block;
            margin: 0 20px 0 0;
        }
        input {
            margin: 0 6px 0 0;
        }
        label {
            font-weight: 500;
            color: var(--dark-gray);
            margin-right: 10px;
            display: inline-block;
        }
    }
}
.modal-body {
    input {
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        border:none;
    }
    .content-box {
        margin: 0;
        box-shadow: none;
    }
}
