<div class="page"  *ngIf="aes">
  <div class="header-flex">
    <page-header [aes]="aes" (activemenuchanged)="onactivemenuchange($event)"></page-header>
  </div>
  <div class="content">
    <shipment-form [hidden]="activeMenu != 'Shipment'" [shipmentHeader]="aes.shipmentHeader" [header]="aes.header"></shipment-form>
    <parties-form [hidden]="activeMenu != 'Parties'" [shipmentParty]="aes.shipmentParty"></parties-form>
    <commodity-form [hidden]="activeMenu != 'Commodity'" [commodityDetails]="aes.commodityDetails"></commodity-form>
    <transportation-form [hidden]="activeMenu != 'Transportation'" [transportation]="aes.transportation"></transportation-form>
  </div>
  <div class="button-flex">
    <div class="buttons-box">
      <button class="btn btn-secondary" (click)="openPrintView(modelcontent)">Print View</button>
      <button class="btn btn-secondary" (click)="onSaveDraft()">Save Draft</button>
      <button class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
    </div>
  </div>
</div>

<aes-loader *ngIf="!aes"></aes-loader>

<ng-template #modelcontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">AES Print View</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <aes-print-view [aes]="aes"></aes-print-view>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Print</button>
  </div>
</ng-template>