.featured-fields {
    display: flex;
    margin: 0 -15px 20px;
    ul {
        li {
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;
            margin: 0 15px 8px;
            span {
                font-weight: bold;
            }
        }
    }
}