.content-box {
    box-shadow: none;
    padding: 10px;
    margin: 0;    
    h2 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    table {
        font-size: 12px;
    }
}
.featured-fields {
    margin: 0 0 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    ul {
        margin: 0 -2%;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
    li {
        
    display: flex;
    justify-content: space-between;
    margin: 0 2% 8px;
    width: 28%;
    font-size: 12px;
        span {
            font-weight: bold;
            text-align: right;
        }
    }
}
}
.status {
    position: absolute;
    right: 57px;
    top: 24px;
    font-size: 13px;
    span {
        margin: 0 10px;
        i {
            margin-right: 8px;
        }
    }
}
.approved {
    background: #B7FFB3;
}
.notapproved {
    background: #FFBFBF;
}
.nopadding {
    padding: 0 !important;
}
.nested-table {
    border: none;
    background: #EDEDED;
    -webkit-print-color-adjust: exact;
    margin: 0;
    color: #655f5f; 
    font-size: 11px;
    th {
        background: #EDEDED;
        -webkit-print-color-adjust: exact;
        padding: 5px;
        border-left: none;
        border-right: none;
    }
    td {
        border: none;
        padding: 5px; 
    }
}
.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.modal-body {
    overflow: hidden;
    padding-bottom: 15px;
}
@media print {
    button {
        display: none !important;
    }   
    .status{
        display: none !important;
    }
}