<div class="row">
  <div class="container-fluid">
    <div class="header-bar">
      <span class="logo">AES Dashboard</span>
    </div>
  </div>
</div>
<div class="container margin-top">
  <div class="row">
    <div class="col-md-4">
      <div class="dashboard-card active">
        <img src="./assets/icons/checked.svg" alt="">
        <h2>199</h2>
        <h5>Total Success Jobs</h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dashboard-card">
        <img src="./assets/icons/loading.svg" alt="">
        <h2>199</h2>
        <h5>Total Pending Jobs</h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dashboard-card">
        <img src="./assets/icons/cancel.svg" alt="">
        <h2>199</h2>
        <h5>Total Rejected Jobs</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="dasboard-box">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Head 1</th>
            <th>Head 2</th>
            <th>Head 3</th>
            <th>Head 4</th>
          </tr>
        </thead>
        <tr>
          <td>Some content 1</td>
          <td>Some content 2</td>
          <td>Some content 3</td>
          <td>Some content 4</td>
        </tr>
        <tr>
          <td>Some content 1</td>
          <td>Some content 2</td>
          <td>Some content 3</td>
          <td>Some content 4</td>
        </tr>
        <tr>
          <td>Some content 1</td>
          <td>Some content 2</td>
          <td>Some content 3</td>
          <td>Some content 4</td>
        </tr>
      </table>
    </div>
  </div>
</div>
