/* You can add global styles to this file, and also import other style files */
@import url("assets/scss/theme.scss");
@import url("assets/icons/fonts/style.css");

// ng select
@import "~@ng-select/ng-select/themes/default.theme.css";

// regular style toast 
@import '~ngx-toastr/toastr.css';
@import '~balloon-css/balloon.min.css';

html, body {
    height: 100%;
}

@media print {
    .modal-body {
        input {
            padding: 0;
            font-weight: bold;
            font-size: 16px;
            border:none;
        }
        .content-box {
            margin: 0;
            box-shadow: none;
        }
    }
    .modal-dialog {
        max-width:100%;
        margin: 0;
    }
    .modal-body {
        margin: 0 auto;
        width: 100%;
    }
    .modal-content, .modal-dialog {
        height: 100%;
        box-shadow: none;
    }
    .modal-footer, .close {
        display: none;
    }
    .button-flex, .content {
        display: none;
    }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
}

@page { size: auto;  margin: 0mm; } // to avoid chromr date and title
@media screen and (max-width: 1300px) {
    ul.steps li:before {
        display: none;
    }
}